/* =======
  BASIC
========== */
html {
  height:100%;
  background: white;
  color: #2f363f; 
}

body {
  height:100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 400; 
}
#wrap{
  background: #eee;
  min-height: 100%;
}

.wrap-white{
  background: #fff !important; 
}
.no-minheight {
  min-height: 0 !important;
}


/* =======
  CONTENT
========== */
/* Home */

#play-alone, #play-group {
  display: block;
  float: left;
  width: 50%;
  height: 260px;
  background: white;
  text-align: center;
  overflow: hidden;
}
#play-alone {
  box-shadow: inset -1px 0px #e2e2e2;
}


.circle {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  background: #556270;
  border: 1px solid #46525f;
  border-radius: 100px;
}
#play-alone > .user {
  background: #556270 url(/img/icons/user-white.png) no-repeat center center;
}
#play-group > .users {
  background: #556270 url(/img/icons/users-white.png) no-repeat center center;
}

#play-group {
  opacity: 0.2;
}

.btn-large {
  display: block;
  background: #b3babe;
  clear: both;
  margin: 15px 20px;
  padding: 15px 10px;
  border: 1px solid #798893;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}


/* =======
  CLEARFIX
========== */
.clearfix {
  display: block;
  float: none;
  height: 0px;
  margin: 0;
  padding: 0;
  clear: both;
}









