/* =======
  BASIC
========== */
html {
  height:100%;
  background: white;
  color: #2f363f;
}

body {
  height:100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 400; 
}
#wrap{
  background: #eee;
  min-height: 100%;
}

.wrap-white{
  background: #fff !important; 
}
.no-minheight {
  min-height: 0 !important;
}

.backimage {
  background: url('/img/background-pattern.png') 0 95% repeat-x !important;
}


/* =======
  CONTENT
========== */
/* Home */

#play-alone, #play-group {
  display: block;
  float: left;
  width: 50%;
  height: 260px;
  background: white;
  text-align: center;
  overflow: hidden;
}
#play-alone {
  box-shadow: inset -1px 0px #e2e2e2;
}


.circle {
  margin: 35px auto;
  width: 100px;
  height: 100px;
  background: #556270;
  border: 1px solid #46525f;
  border-radius: 100px;
}
#play-alone > .user {
  background: #556270 url(/img/icons/rocket-icon.png) no-repeat center center;
}
#play-group > .users {
  background: #556270 url(/img/icons/users-white.png) no-repeat center center;
}

#play-group {
  background: rgba(0, 0, 0, 0.5) url('/img/avatar-block3.jpg') repeat-x center center;
}

.highscoreBtn{
  height:50px;
  width:90%;
  margin:0 auto;
  top:50px;
  position: relative;
  background-color: #556270;
  border-radius: 10px;
  border:2px solid #455260;
}

.highscoreBtn > h3{
  color:#FFF;
  text-align: center;
  line-height: 50px;
}

.txtWhite{
  color:#FFF;
  margin:20px 0 0 0;
}

.highscore{
  margin:0 0 50px 0;
}

#userScore{
  color:#FFF;
  font-size:3em;
  font-weight: bold;
}

.btn-large {
  display: block;
  background: #b3babe;
  clear: both;
  margin: 15px 20px;
  padding: 15px 10px;
  border: 1px solid #798893;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.dark-btn {
  background: #556270;
  border: 1px solid #37414b;
}
.dark-txt {
  color: #556270;
}

.btn-normal {
  display: block;
  background: #b3babe;
  padding: 15px 10px;
  border: 1px solid #798893;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.lightgrey {
  background: #ced5dc;
  border: 1px solid #b2b2b2;
  color: #556270;
}

#pause {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0px;
  background: white;
}
#pause h2 {
  display: block;
  width: 100%;
  padding: 30px 0px;
  font-size: 2em;
  text-align: center;
  color: #556270;
  background: #eeeeee;
  border-bottom: 1px solid #dadada;
}

.divider-20 {
  display: block;
  width: 100%;
  height: 20px;
  clear: both;
}
.divider-40 {
  display: block;
  width: 100%;
  height: 40px;
  clear: both;
}
.divider-60 {
  display: block;
  width: 100%;
  height: 60px;
  clear: both;
}
.divider-80 {
  display: block;
  width: 100%;
  height: 80px;
  clear: both;
}
.divider-100 {
  display: block;
  width: 100%;
  height: 100px;
  clear: both;
}
.divider-120 {
  display: block;
  width: 100%;
  height: 120px;
  clear: both;
}
.divider-150 {
  display: block;
  width: 100%;
  height: 150px;
  clear: both;
}
.divider-200 {
  display: block;
  width: 100%;
  height: 200px;
  clear: both;
}

/* =======
  CLEARFIX
========== */
.clearfix {
  display: block;
  float: none;
  height: 0px;
  margin: 0;
  padding: 0;
  clear: both;
}









