/*---------Basic setup ---------*/

html, body{
	height:100%;
}

body > #wrap > header {
	background-image: url(/img/header-pattern2.png);
	background-repeat: repeat-x;
	padding: 15px 0; 
	border-bottom: 1px solid 
}

body > #wrap > header h1 {
    text-align: center; 
}


body > footer{
	background-color: rgb(243, 243, 243);
	background-image: url(/img/rijksmuseum-logo-grey.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	height: 50px;
	padding: 35px 0 33px 0;
	position: relative;
	margin-top: -118px;
	clear: both;
}

/*-------------------------------*/

header > #logoutBtn{
	float: right;
	width: 65px;
	top: -47px;
	position: relative;
	height: 88px;	
	border-left:1px solid #E3E3E3;
}

header > #logoutBtn > #logout >img{
	vertical-align: middle;
	margin:14px;
}

#wrap{
	min-height: 100%;
}

.sub-header{
	height:112px;
	background-color: rgb(243, 243, 243);
	top:0px;
	position: relative;
}

.sub-header h2{
  	color: #2f363f;
  	font-family: "Source Sans Pro", sans-serif;
  	font-size: 2em;
  	font-weight: 400;
  	position: relative;
	top: -87px;
	padding: 0 0 0 102px;
}

.sub-header > img {
	height: 64px;
	width: 64px;
	margin: 25px;
	border-image: 1px solid #E3E3E3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sub-header .welcome{
	color: red;
}

#mid{
	height:100%;
	padding:0 0 111px 0;
	overflow: auto;
}

#play-alone{
	height:100%;
	width:49%;
	float:left;
	border-right: 1px solid #E3E3E3;
}

#play-group{
	height: 100%;
	width: 50%;
	float:left;
}

#play-alone > h2, #play-group > h2 {
	text-align: center;
	font-weight: 400;
	margin:-50px 0 32px 0;
}

#play-alone > img, #play-group > img {
	padding:44%;
}