/* 
JEROENS CSS
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

/* =======
  BASIC
========== */
html {
  background: white;
  color: #2f363f; 
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 400; 
}

/* =======
  FONTS
========== */
h1, .alpha {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase; 
}

h2, .beta {
  color: #2f363f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: 700; 
}

h3, .gamma {
  color: #2f363f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 400; 
}

h4, .delta {
  color: #2f363f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  font-weight: 400; 
}

/* =======
  CONTENT
========== */
/* Home */

#play-alone, #play-group {
  display: block;
  float: left;
  width: 50%;
  height: 170px;
  background: white;
  text-align: center;
  overflow: hidden;
}
#play-alone {
  box-shadow: inset -1px 0px #e2e2e2;
}


.circle {
  margin: 20px auto;
  width: 75px;
  height: 75px;
  background: #556270;
  border: 1px solid #46525f;
  border-radius: 100px;
}
#play-alone > .user {
  background: #556270 url(/img/icons/user-white.png) no-repeat center center;
}
#play-group > .users {
  background: #556270 url(/img/icons/users-white.png) no-repeat center center;
}




/* =======
  CLEARFIX
========== */
.clearfix {
  display: block;
  float: none;
  height: 0px;
  margin: 0;
  padding: 0;
  clear: both;
}









