
/* Style for grid cells */
.rf-tgrid {
    font-weight: bold;
    font-size: 14px;
    margin: 1px;
    padding: 10px;
/*    border: 1px solid bisque;*/
    vertical-align: middle;
    text-align: center;

}

/* Style for the grid */
.rf-tablestyle {
    border: 2px solid;
    outline:1px solid;
    outline-color: #E3E3E3;
    border-color: #4ECDC4;
    background-color: #FFF;
    cursor: pointer;
}

/* Style for the div containing the grid */
#rf-searchgamecontainer {
    margin:25px auto;
    width:320px;
}

/* Style for the div containing the word list */
#rf-wordcontainer {
    width:200px;
    margin:20px auto; 
    cursor: default;
    border: 2px solid;
    border-color: #4ECDC4;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;	
	cursor: pointer;	
}

#rf-wordcontainer > ul > li{
    list-style-type: none;
}

/* Style for the words that have been found */
.rf-foundword {
	text-decoration : line-through;
	color : lightgray;
	font-style : italic;

}

#rf-tablegrid .rf-armed {
/*	background: lightcyan;*/
}

#rf-tablegrid .rf-highlight {
    background: red;
}


#rf-tablegrid .rf-glowing {
	background: greenyellow;
        
}

#rf-tablegrid .rf-selected {
	background: gold;
}

/* style for words that didn't make it on the grid */
.rf-pfalse {
    color: gray;
    visibility: hidden; 
}
