<template name="highscore">
<div id="wrap" class="wrap-white">
  {{#if admin}}
  <h2>Highscore</h2>
  <p>some text</p>

  <a href="#inserting" id="inserting">insert into</a></br>
  <a href="#update" id="update">get updates</a></br>
  <a href="#rankingMemory" id="rankingMemory">get scores memory</a></br>
  <a href="#rankingMemoryLevel" id="rankingMemoryLevel">get scores memory level</a></br>
  <a href="#rankingUsers" id="rankingUsers">get scores users</a></br>
  <a href="#rankingLists" id="rankingLists">get limited scores users</a></br>
  <a href="#refreshUserScore" id="refreshUserScore">refresh userscore</a></br>
  <a href="#userScore" id="userScore">get userscore</a></br>
  <a href="#remove" id="remove">empty collection</a></br>
  {{/if}}
</div>
{{> userMenu}}
</template>

<template name="highscorememory">
<div id="wrap" class="wrap-white">
  <div class="wraphighscore">
    <ul class="userlist">
    {{#each userlist}}
      {{#if testUser isUser}}
    <li class="currentuser">
      {{else}}
    <li>
      {{/if}}
      <span class="rank">{{index}}</span>
      <span class="name">{{username}}</span>
      <span class="totscore">{{score}}</span>
    </li>
    {{/each}}
    </ul>
  </div>
</div>
{{> userMenu}}
</template>

<template name="highscoreusers">
<div id="wrap" class="wrap-white">
  <div class="wraphighscore">
    <ul class="userlist">
    {{#each userlist}}
      {{#if testUser isUser}}
    <li class="currentuser">
      {{else}}
      <li>
      {{/if}}
      <span class="rank">{{index}}</span>
      <span class="name">{{username}}</span>
      <span class="totscore">{{score}}</span>
    </li>
    {{/each}}
    </ul>
  </div>
</div>
{{> userMenu}}
</template>