<template name="home">
  <div id="wrap">
    {{> header}}
    <div class="sub-header">
      <div class="sub-header text">
        <img src="{{profilepic}}" />
        <h2 class="welcome">Welkom,</h2>
        <h2>{{firstname}}</h2>
      </div>
    </div>
    <div id="mid">
      <a href="/singleplayer">
        <div id="play-alone">
          <div class="circle user"></div>
          <h3>Spelen</h3>
        </div>
      </a>
      <a href="/highscores">
        <div id="play-group">
          <h3 class="txtWhite">Jouw score</h3><br />
          <h3 id="userScore">{{scoreUser}}</h3>
          <div class="highscoreBtn"><h3>Highscores</h3></div>        
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  {{> footer-white}}
</template>

<template name="header">
  <header>
    <h1>Rksmsm</h1>
    {{#if loggedIn}}
      <div id="logoutBtn">
        <a href="#logout" id="logout">Logout</a>
      </div> 
    {{/if}}
  </header>
</template>