<template name="home">
  <div id="wrap">
    {{> header}}
    <div class="sub-header">
      <div class="sub-header text">
        <img src="{{profilepic}}" />
        <h2 class="welcome">Welkom,</h2>
        <h2>{{firstname}}</h2>
      </div>
    </div>
    <div id="mid">
      <a href="/singleplayer">
        <div id="play-alone">
          <div class="circle user"></div>
          <h3>Speel alleen</h3>
        </div>
      </a>
      <a href="/multiplayer">
        <div id="play-group">
          <div class="circle users"></div>
          <h3>Speel met een groep</h3>        
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  {{> footer-white}}
</template>

<template name="header">
  <header>
    <h1>Rksmsm</h1>
    {{#if loggedIn}}
      <div id="logoutBtn">
        <a href="#logout" id="logout">Logout</a>
      </div> 
    {{/if}}
  </header>
</template>