<template name="memory">
	<div id="wrap" class="wrap-white">
  	{{> memoryHome}}		
	</div>
{{> gameMenu}}
</template>

<template name="gamememory">
  <div id="wrap" class="wrap-white">
    {{> memoryGame}}    
  </div>
{{> gameMenuMemory}}
</template>

<template name="intromemory">
  <div id="wrap" class="wrap-white">
    {{> memoryIntro}}    
  </div>
{{> gameMenuMemory}}
</template>

<template name="introendmemory">
  <div id="wrap" class="wrap-white">
    {{> memoryIntroend}}    
  </div>
{{> gameMenu}}
</template>

<template name="viewscorememory">
  <div id="wrap" class="wrap-white">
    {{> memoryViewscore}}    
  </div>
{{> gameMenu}}
</template>


<template name="memoryViewscore">
  <div class="memoryviewscore">
    <h2 class="intro">Gefeliciteerd!</h2>
    <p class="intro">Deze uitdaging heb je afgesloten in:</p>
    <p class="gamesummary">{{gamesummary}}</p>
    <a class="btn-large" href="/singleplayer">Naar het overzicht</a>
  </div>
</template>


<template name="gameMenu">
  <div id="gamemenu">
    <div id="average-stars">
      <i class="star"></i>
      <i class="star"></i>
      <i class="star"></i>
    </div>
    <div id="totalscore">
      <span>totaal: 36</span>
    </div>
  </div>
  <a id="homeBtn" href="/" title="home">
    <i class="house-white"></i>
  </a>
</template>


<template name="gameMenuMemory">
  <div id="gamemenu">
    <div id="points">
      <span>30</span><i class="diamond"></i>
    </div>
    <div id="totalscore">
      <span>totaal: 0</span>
    </div>
  </div>
  <a id="homeBtn" href="/" title="home">
    <i class="house-white"></i>
  </a>
</template>

<template name="memoryHome">
  <div class="memoryhome">
    <h2>Memory</h2>
    <p class="intro">Ik heb snel een potje memory voor je klaar gezet. Weet je hoe memory gaat?</p>
    <a class="btn-large" href="/gamememory">Ja, starten maar</a>
    <a class="btn-large" href="/intromemory">Nee, leg me uit</a>
  </div>

</template>

<template name="memoryGame">
  <!-- <div class="divider-height"> </div> -->
	<div id="my-memorygame" class="quizy-memorygame">
		<ul>
  			<li class="match1">
    			<img src="/rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
  			</li>
  			<li class="match2">
    			<img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
  			</li>
        <li class="match3">
          <img src="/rijksimg/small/jacob_maris.jpg" alt="memory_picture" />
        </li>
        <li class="match4">
          <img src="../rijksimg/small/vrouw_kolen.jpg" alt="memory_picture" />
        </li>
        <li class="match5">
          <img src="/rijksimg/small/memory5.jpg" alt="memory_picture" />
        </li>
        <li class="match6">
          <img src="../rijksimg/small/memory6.jpg" alt="memory_picture" />
        </li>

        <li class="match1">
          <img src="../rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
        </li>
        <li class="match2">
          <img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
        </li>
        <li class="match3">
          <img src="../rijksimg/small/jacob_maris.jpg" alt="memory_picture" />
        </li>
        <li class="match4">
          <img src="../rijksimg/small/vrouw_kolen.jpg" alt="memory_picture" />
        </li>
        <li class="match5">
          <img src="/rijksimg/small/memory5.jpg" alt="memory_picture" />
        </li>
        <li class="match6">
          <img src="../rijksimg/small/memory6.jpg" alt="memory_picture" />
        </li>
         
		</ul>
	</div>	
</template>

<template name="memoryIntro">

  <p class="intro">Zoek dezelfde plaatjes bij elkaar.</p>

  <div id="my-memoryintro" class="quizy-memorygame memoryintro">
    <ul>
        <li class="match1">
          <img src="/rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
        </li>
        <li class="match2">
          <img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
        </li>
        <li class="match1">
          <img src="../rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
        </li>
        <li class="match2">
          <img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
        </li>
    </ul>
  </div>  
</template>

<template name="memoryIntroend">
  <div class="memoryhome">
    <h2>Super gedaan!</h2>
    <p class="intro">Goed gedaan! Er staat nu een echte uitdagende versie voor je klaar. Ben je er klaar voor?</p>
    <a class="btn-large" href="/gamememory">Start maar</a>
  </div>
</template>
