<template name="memory">
	<div id="wrap">
  	{{> memoryHome}}		
	</div>
{{> gameMenu}}
</template>

<template name="gamememory">
  <div id="wrap">
    {{> memoryGame}}    
  </div>
{{> gameMenu}}
</template>

<template name="intromemory">
  <div id="wrap">
    {{> memoryIntro}}    
  </div>
{{> gameMenu}}
</template>

<template name="gameMenu">
  <div id="gamemenu">
    <div id="average-stars">
      <i class="star"></i>
      <i class="star"></i>
      <i class="star"></i>
    </div>
    <div id="totalscore">
      <span>totaal: </span><span>36</span>
    </div>
  </div>
  <a id="homeBtn" href="/" title="home">
    <i class="house-white"></i>
  </a>
</template>

<template name="memoryHome">
  <h2>Memory</h2>
  <p>Ik heb snel een potje memory voor je klaar gezet. Weet je hoe memory gaat?</p>
  <a href="/gamememory">Ja, starten maar</a>
  <a href="/intromemory">Nee, leg me uit</a>
</template>

<template name="memoryGame">
	<div id="my-memorygame" class="quizy-memorygame">
		<ul>
  			<li class="match1">
    			<img src="/rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
  			</li>
  			<li class="match2">
    			<img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
  			</li>
        <li class="match3">
          <img src="/rijksimg/small/jacob_maris.jpg" alt="memory_picture" />
        </li>
        <li class="match4">
          <img src="../rijksimg/small/vrouw_kolen.jpg" alt="memory_picture" />
        </li>
        <li class="match1">
          <img src="../rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
        </li>
        <li class="match2">
          <img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
        </li>
        <li class="match3">
          <img src="../rijksimg/small/jacob_maris.jpg" alt="memory_picture" />
        </li>
        <li class="match4">
          <img src="../rijksimg/small/vrouw_kolen.jpg" alt="memory_picture" />
        </li>
		</ul>
	</div>	
</template>

<template name="memoryIntro">
  <div id="my-memoryintro" class="quizy-memorygame">
    <ul>
        <li class="match1">
          <img src="/rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
        </li>
        <li class="match2">
          <img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
        </li>
        <li class="match1">
          <img src="../rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
        </li>
        <li class="match2">
          <img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
        </li>
    </ul>
  </div>  
</template>