<template name="memory">
	<div id="wrap">
		{{> header}}
    	{{> memoryGame}}		
	</div>
{{> footer-white}}
</template>

<template name="memoryGame">
	<div id="my-memorygame" class="quizy-memorygame">
		<ul>
  			<li class="match1">
    			<img src="/rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
  			</li>
  			<li class="match2">
    			<img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
  			</li>
        <li class="match3">
          <img src="/rijksimg/small/jacob_maris.jpg" alt="memory_picture" />
        </li>
        <li class="match4">
          <img src="../rijksimg/small/vrouw_kolen.jpg" alt="memory_picture" />
        </li>
        <li class="match1">
          <img src="../rijksimg/small/nachtwacht.jpg" alt="memory_picture" />
        </li>
        <li class="match2">
          <img src="../rijksimg/small/simon_alpen.jpg" alt="memory_picture" />
        </li>
        <li class="match3">
          <img src="../rijksimg/small/jacob_maris.jpg" alt="memory_picture" />
        </li>
        <li class="match4">
          <img src="../rijksimg/small/vrouw_kolen.jpg" alt="memory_picture" />
        </li>
		</ul>
	</div>	
</template>