<template name="puzzel">
	<div id="wrap" class="wrap-white">
  	{{> puzzelHome}}		
	</div>
  {{> gameMenu}}
</template>

<template name="intropuzzel">
  <div id="wrap" class="wrap-white">
    {{> puzzelIntro}}    
  </div>
  {{> gameMenuPuzzel}}
</template>

<template name="introendpuzzel">
  <div id="wrap" class="wrap-white">
    {{> puzzelIntroend}}    
  </div>
  {{> gameMenu}}
</template>

<template name="gamepuzzel">
  <div id="wrap" class="wrap-white">
    {{> puzzelGame}}    
  </div>
  {{> gameMenuPuzzel}}
</template>


<template name="viewscorepuzzel">
  <div id="wrap" class="wrap-white">
    {{> puzzelViewscore}}    
  </div>
{{> gameMenu}}
</template>


<template name="puzzelViewscore">
  <div class="puzzelviewscore">
    <h2 class="intro">Gefeliciteerd!</h2>
    <p class="intro">Deze uitdaging heb je afgesloten met:</p>
    <div class="score">
      <span>{{score}}</span><i class="diamond"></i>
      <div class="clearfix"></div>
    </div>
    <p class="gamesummary">Je hebt daarbij {{moves}} vakjes verschoven en dit binnen {{seconds}} seconden.</p>
    <a class="btn-large" href="/singleplayer">Naar het overzicht</a>
  </div>
</template>


<template name="gameMenuPuzzel">
  <div id="gamemenu">
    <div id="points">
      <span>0</span><i class="diamond"></i>
    </div>
    <div id="totalscore">
      <span>totaal: 0</span>
    </div>
  </div>
  <a id="homeBtn" href="/" title="home">
    <i class="house-white"></i>
  </a>
</template>



<template name="puzzelHome">
  <div class="puzzelhome">
    <h2 class="intro">Schuifpuzzel</h2>
    <p class="intro">Ik heb een schuifpuzzel voor je klaar staan. Heb je al eens een schuifpuzzel gedaan?</p>
    <a class="btn-large" href="/gamepuzzel">Ja, start!</a>
    <a class="btn-large" href="/intropuzzel">Nee, leg uit</a>
  </div>

</template>

<template name="puzzelIntro">
  <h2 class="intro">Schuifpuzzel</h2>
  <p class="intro">Maak de foto correct.</p>

  <div id="puzzle">
    <img id="gamePuzzle" src="/rijksimg/small/bucolia.jpg" alt="cage" height="300px" width="300px" />
  </div>
</template>

<template name="puzzelIntroend">
  <div class="puzzelhome">
    <h2 class="intro">Schuifpuzzel</h2>
    <p class="intro">Makkelijk niet?</br>Ik heb een uitdagendere schuifpuzzel voor je klaar staan. Starten?</p>
    <a class="btn-large" href="/gamepuzzel">Ja, start!</a>
  </div>
</template>


<template name="puzzelGame">
	<div id="puzzle">
		<img id="gamePuzzle" src="/rijksimg/small/bucolia.jpg" alt="cage" height="300px" width="300px" />
	</div>
</template>