<template name="puzzel">
	<div id="wrap">
  	{{> puzzelGame}}		
	</div>
  {{> gameMenu}}
</template>

<template name="intropuzzel">
  <div id="wrap">
    {{> puzzelIntro}}    
  </div>
  {{> gameMenu}}
</template>




<template name="puzzelIntro">
  <div id="puzzle">
    <img id="gamePuzzle" src="/rijksimg/small/bucolia.jpg" alt="cage" height="300px" width="300px" />
  </div>
</template>


<template name="puzzelGame">
	<div id="puzzle">
		<img id="gamePuzzle" src="/rijksimg/small/bucolia.jpg" alt="cage" height="300px" width="300px" />
	</div>
</template>