<template name="singleplayer">
<div id="wrap" class="wrap-white">
	{{> singleGameScreen}}		
</div>
	{{> userMenu}}
</template>

<template name="userMenu">
	<div id="usermenu">
		<div id="average-stars">
			<i class="star"></i>
			<i class="star"></i>
			<i class="star"></i>
		</div>
		<div id="totalscore">
			<span>totaal: 0</span>
		</div>
	</div>
	<a id="homeBtn" href="/" title="home">
		<i class="house-white"></i>
	</a>
</template>

<template name="singleGameScreen">
	<div class="wrap-games">
		<div class="game memory arrow-red">
			<a href="/memory">
				<div>
				</div>
			</a>
		</div>

		<div class="game puzzel arrow-red">
			<a href="/puzzel">
				<div>
				</div>
			</a>
		</div>
	

		<div class="game trivia arrow-red">
			<a href="/trivia">
				<div>
				</div>
			</a>
		</div>

		<div class="game wordsearch arrow-grey">
			<a href="/wordsearch">
				<div>
				</div>
			</a>
		</div>

		<div class="game arrow-grey locked">
			<a href="/">
				<div>
				</div>
			</a>
		</div>

		<div class="game arrow-grey locked">
			<a href="/">
				<div>
				</div>
			</a>
		</div>

		<div class="clearfix"></div>
	</div>
</template>
