<template name="singleplayer">
<div id="wrap">
	{{> header}}
    	{{> singleGameScreen}}		
</div>
{{> footer}}
</template>

<template name="singleGameScreen">
	<div class="row">
		<a href="/memory">
			<div id="memory" class="playGame left memory">
			</div>
		</a>
		<div class="arrowRight">
		</div>
	</div>
	<div class="row">
		<a href="/puzzel">
			<div id="slidepuzzel" class="playGame right slidePuzzel">
			</div>
		</a>
		<div class="arrowLeft">
		</div>
	</div>
	<div class="row">
		<a href="/trivia">
			<div id="trivia" class="playGame left trivia">
			</div>
		</a>
		<div class="arrowRight">
		</div>
	</div>
</template>
