<template name="singleplayer">
<div id="wrap" class="wrap-white">
	{{> singleGameScreen}}		
</div>
	{{> logoutMenu}}
</template>

<template name="userMenu">
	<div id="usermenu">
		<div id="average-stars">
			
		</div>
		<div id="totalscore">
			<span>{{score}}</span>
		</div>
	</div>
	<a id="homeBtn" href="/" title="home">
		<i class="house-white"></i>
	</a>
</template>

<template name="logoutMenu">
  <div id="logoutmenu">
    <div id="average-stars">
      
    </div>
    <div id="totalscore">
      <span>{{score}}</span>
    </div>
  </div>
  <a id="logoutButton" href="/" title="home">
    <i class="logout-white"></i>
  </a>
</template>

<template name="gameMenu">
  <div id="gamemenu">
    <div id="average-stars">
      
    </div>
    <div id="totalscore">
      <span>{{score}}</span>
    </div>
  </div>
  <a id="homeBtn" href="/" title="home">
    <i class="house-white"></i>
  </a>
</template>


<template name="gameMenuMemory">
  <div id="gamemenu">
    <div id="points">
      <span>30</span><i class="diamond"></i>
    </div>
    <div id="totalscore">
      <span> </span>
    </div>
  </div>
  <a id="pauseBtn" href="#pause" title="home">
    <i class="house-white"></i>
  </a>
</template>

<template name="gameMenuPuzzel">
  <div id="gamemenu">
    <div id="points">
      <span> </span><i class="diamond"></i>
    </div>
    <div id="totalscore">
      <span>totaal: 0</span>
    </div>
  </div>
  <a id="pauseBtn" href="#pause" title="home">
    <i class="house-white"></i>
  </a>
</template>

<template name="pauseTemp">
  <div id="pause">
    <h2>Pauze</h2>
    <div class="divider-20"></div>
    <a id="unpauseBtn" class="btn-large dark-btn" href="#unpause">Spel hervatten</a>
    <a class="btn-large dark-btn" href="/singleplayer">Naar uitdagingen</a>
    <div class="divider-20"></div>
    <a class="btn-large dark-txt" href="/">Naar hoofdmenu</a>
    <div class="divider-40"></div>
  </div>
</template>

<template name="singleGameScreen">
	<div class="wrap-games">
    {{#if unlockedMemoryOne}}
		<div class="game cyaan memory arrow-red">
			<a href="/memory" class="gametitle">
				<div>
					<span class="game-title-white">Memory</span>
				</div>
			</a>
		</div>
    {{else}}
    <div class="game cyaan memory arrow-grey">
      <a href="/memory" class="gametitle">
        <div>
          <span class="game-title-white">Memory</span>
        </div>
      </a>
    </div>
    {{/if}}

    {{#if unlockedPuzzelOne}}
      {{#if unlockedTriviaOne}}
        <div class="game cyaan puzzel arrow-red">
          <a href="/puzzel" class="gametitle">
            <div>
              <span class="game-title-white">Puzzel</span>
            </div>
          </a>
        </div>
      {{else}}
        <div class="game cyaan puzzel arrow-grey">
          <a href="/puzzel" class="gametitle">
            <div>
              <span class="game-title-white">Puzzel</span>
            </div>
          </a>
        </div>
      {{/if}}
		
    {{else}}
      <div class="game arrow-grey locked">
        <a href="/">
          <div>
          </div>
        </a>
      </div>
    {{/if}}
	
    {{#if unlockedTriviaOne}}
		<div class="game cyaan trivia">
			<a href="/trivia" class="gametitle">
				<div>
					<span class="game-title-white">Trivia</span>
				</div>
			</a>
		</div>
    {{else}}
    <div class="game locked">
      <a href="/">
        <div>
        </div>
      </a>
    </div>
    {{/if}}

    <div class="divider-20"></div>
		<div class="clearfix"></div>
	</div>
</template>
