<template name="trivia">
	<div id="wrap triviaWrap">
		{{> triviaHeader}}
    	{{> triviaGame}}		
	</div>
{{> gameMenuTrivia}}
</template>

<template name="triviaGame">
	<div id="triviaWrapper">
		<!-- quize content -->
	</div>
</template>

<template name="triviaHeader">
	<div id="headWrap">
		<span class="stretch"></span>
	</div>
</template>

<template name="triviaHeaderFinal">
  <div id="headWrap">
    <h3 style="text-align:center;">Jouw score is:</h3>
    <span class="stretch"></span>
  </div>
</template>

<template name="gameMenuTrivia">
  <div id="gamemenu">
    <div id="points">
    	<i class="plus"></i>	
      	<span></span>
    </div>
    <div id="totalscore">
      	<span>totaal: 36</span>
    </div>
  </div>
  <a id="homeBtn" href="/" title="home">
    <i class="house-white"></i>
  </a>
</template>

<template name="viewscoretrivia">
  <div id="wrap triviaWrap">
    {{> triviaHeaderFinal}}
        <p>{{scoreTrivia}}</p>
  </div>
{{> gameMenuTrivia}}
</template>