<template name="trivia">
	<div id="wrap triviaWrap">
		{{> triviaHeader}}
    	{{> triviaGame}}		
	</div>
{{> gameMenuTrivia}}
</template>

<template name="triviaGame">
	<div id="triviaWrapper">
		<!-- quize content -->
	</div>
    <p class="countdown"></p>
</template>

<template name="triviaHeader">
	<div id="headWrap">
		<span class="stretch"></span>
	</div>
</template>

<template name="triviaHeaderFinal">
  <div id="headWrap">
    <h3 style="text-align:center;">Jouw score is:</h3>
    <span class="stretch"></span>
  </div>
</template>

<template name="gameMenuTrivia">
  <div id="gamemenu">
    <div id="points">
    	<i class="plus"></i>	
      	<span></span>
    </div>
    <div id="totalscore">
      	<span>{{score}}</span>
    </div>
  </div>
  <a id="homeBtn" href="/" title="home">
    <i class="house-white"></i>
  </a>
</template>

<template name="viewscoretrivia">
  <div id="wrap" class="wrap-white">
    <div class="wraphighscore">
      <ul class="userlist">
      {{#each userlist}}
        {{#if testUser isUser}}
      <li class="currentuser">
        {{else}}
        <li>
        {{/if}}
        <span class="rank">{{index}}</span>
        <span class="name">{{username}}</span>
        <span class="totscore">{{score}}</span>
      </li>
      {{/each}}
      </ul>
    </div>
  </div>
{{> userMenu}}
</template>