<template name="trivia">
	<div id="wrap triviaWrap">
		{{> triviaHeader}}
    	{{> triviaGame}}
      {{> pauseTemp}}	
	</div>
{{> gameMenuTrivia}}
</template>

<template name="triviaGame">
	<div id="triviaWrapper">
		<!-- quize content -->
	</div>
    <p class="countdown"></p>
</template>

<template name="triviaHeader">
	<div id="headWrap">
		<span class="stretch"></span>
	</div>
</template>

<template name="triviaHeaderFinal">
  <div id="headWrap">
    <h3 style="text-align:center;">Jouw score is:</h3>
    <span class="stretch"></span>
  </div>
</template>

<template name="gameMenuTrivia">
  <div id="gamemenu">
    <div id="points">
    	<i class="plus-dark"></i>
    </div>
    <div id="totalscore">
      	<span>totaal: {{score}} <i class="plus-grey"></i></span>
    </div>
  </div>
  <a id="pauseBtn" href="#pause" title="Pause">
    <i class="house-white"></i>
  </a>
</template>

<template name="viewscoretrivia">
  <div id="wrap" class="wrap-white">
    <div class="wraphighscore">
      <ul class="userlist">
      {{#each userlist}}
        {{#if testUser isUser}}
      <li class="currentuser">
        {{else}}
        <li>
        {{/if}}
        <span class="rank">{{index}}</span>
        <span class="name">{{username}}</span>
        <span class="totscore">{{score}}</span>
      </li>
      {{/each}}
      </ul>
      <div class="sharewrap">
        {{#if facebooklogin}}
        <a class="btn-normal lightgrey" id="publishwall" href="#publishwall">Delen</a>
        {{/if}}
      </div>
      <div class="gamelistwrap">
        <a class="btn-normal lightgrey" href="/singleplayer">Game lijst</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="divider-60"></div>
  </div>
{{> gameMenu}}
</template>